@model Scoretastic.Web.Controllers.CompetitionEditViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>CompetitionEditViewModel</legend>

        @Html.HiddenFor(model => model.Input.Id)
            
        <div class="editor-label">
            @Html.LabelFor(model => model.Input.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Input.Name)
            @Html.ValidationMessageFor(model => model.Input.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Input.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Input.Description)
            @Html.ValidationMessageFor(model => model.Input.Description)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Input.FirstDay)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Input.FirstDay)
            @Html.ValidationMessageFor(model => model.Input.FirstDay)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Input.LastDay)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Input.LastDay)
            @Html.ValidationMessageFor(model => model.Input.LastDay)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
