@using Scoretastic.Web.Controllers
@model CompetitionIndexViewModel

@{
    ViewBag.Title = "Index";
}
@ViewBag.RavenDB
<h2>Competitions</h2>

@if (Model.Competitions.Any())
{
    <table>
        <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Description</th>
            <th>Tasks</th>
        </tr>

        @foreach (var competition in Model.Competitions)
        {
            <tr>
                <td>@Html.DisplayFor(model => competition.FirstDay) - @Html.DisplayFor(model => competition.LastDay)</td>
                <td>@competition.Name</td>
                <td>@competition.Description</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = competition.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = competition.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = competition.Id })
                </td>
            </tr>
        }

    </table>
}

<p>
    @Html.ActionLink("Create A New Competition", "Create")
</p>

